bin
build
dist
docs/_build
htmlcov
issues
patches
prof
support
temp
run.py
.tox
*.pyc
*.egg
*.egg-info
.*.swp
.cache
.coverage
.DS_Store
.pytest_cache
.project
.pydevproject
.settings/*
.vscode
pytest.ini
