language: python
python:
- 2.6
- 2.7
- pypy
install:
- pip install Attest
script:
- python -mwand.version
- python -mattest.run wandtests.tests
notifications:
  irc:
    channels:
    - "irc.ozinger.org#hongminhee"
    on_success: change
    on_failure: always
